@black: #000;
@bright-orange: #ff6700;
@warm-grey-two: #8b8b8b;
@white: #fff;
@white-two: rgb(216, 216, 216);
@white-three: #f5f5f5;
@nasty-green: #85b73e;
@cherry-red: #e8001d;
@color-link: #1b75cc;
@color-link-hover: #5f9fdc;
@bright-orange: #ff6700;

@media (max-width: 767px) {

  @cont: 15px;
}

@media (min-width: 768px) {

  @cont: 24px;

  .main {
    padding: 0 15px;
  }

  #header {

    .container-fluid {
      padding: 0 24px;
    }
  }

  .container-fluid {
    padding-right: 9.5px;
    padding-left:  9.5px;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 9.5px;
    padding-left:  9.5px;
  }

  .row {
    margin-right: -9.5px;
    margin-left: -9.5px;
  }
}

@media (min-width: 1024px) {

  @cont: 7.5px;

  .main {
    padding: 0 2*@cont;
  }

  .footer {
    //padding: 0 2*@cont;
  }

  #header {

    .container-fluid {
      padding: 0 @cont;
    }
  }

  .container-fluid {
    padding-right: @cont;
    padding-left:  @cont;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: @cont;
    padding-left:  @cont;
  }

  .row {
    margin-right: -@cont;
    margin-left: -@cont;
  }
}
@media (min-width: 1200px) {

  @cont: 10px;

  .main {
    padding: 0 10px;
  }

  .footer {
    padding: 0;
  }

  #header {

    .container-fluid {
      padding: 0 @cont;
    }
  }

  .container-fluid {
    padding-right: @cont;
    padding-left:  @cont;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: @cont;
    padding-left:  @cont;
  }

  .row {
    margin-right: -@cont;
    margin-left: -@cont;
  }
}

@arial: "Arial", sans-serif;
@clearsans: "clearsans", sans-serif;